* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("../imgs/2590-amanecer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
}


.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f2dede;
  box-sizing: border-box;
  border: 1px solid #d9534f;
  border-radius: 0;
  color: black;
  text-align: center;
  display: none;
  transition: all 0.5s ease-in-out;
  opacity: 0.75;
}

.alert span {
  font-weight: bold;
  opacity: 1;
}

#errorContent {
  font-size: 30px;
}

.contenedor {
  height: 85%;
  border-radius: 40px;
  margin: 2% 5% 2% 5%;
  background-color: rgba(32, 32, 32, 0.74);
  overflow: auto; 

}
.cards{
  margin-top: 20px;
}
.carta {
  display: none;
  width: 250px;
  flex-direction: column;
  height: 120px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-left: 30px;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
}
.cartitas {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
}
.graficocontainer{
  background-color: #0000003a;
  margin-left: 60px;
}
.carta {
  transition: height 0.5s ease-in-out; /* Adjust the duration and timing function as needed */
}
.mapacontainer {

  width: 100%; 
  height: 340px;
  background-color: #ffffff;
  margin-top: 20px;
}
.filaArriba{
  display: inline-flex;
}
#map {
  height: 100%;
  width: 100%;
}
/* Asegurarse de que el color de fondo no cambie al pasar el ratón sobre los elementos del menú desplegable */
.dropdown-menu.bg-dark .dropdown-item:hover {
  background-color: transparent;
}

div.temperatura
{
  font-size: 30px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}
div.panel{
  margin-right: 25px;
}
div.ciudad
{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0,0,0,0.7);
}

div.temp
{
  font-size: 81px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
}
.fotar{
  bottom: 0;
  width: 100%;
}

.up-panel{
  display: inline-flex;
}
.right-panel{
position: absolute;
right: -20px;
}
.down-panel{
 padding-top: 18%;
 opacity: 0;
 transition: opacity 0.1s ease-in-out;
}

.down-panel.visible {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0.3s;
}

.cssbuttons-io-button {
  position: absolute;
  display: flex;
  margin-top: 88px;
  margin-left: 65px;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding:  0.2em 0.7em  0.2em 0.6em;
  color: white;
  background: #ff6600;
  background: linear-gradient(0deg, rgb(209, 114, 70) 0%, rgb(238, 117, 61)100%);
  border: none;
  box-shadow: 0 0.5em 1.5em -0.5em #fa500131;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.7em 1.5em -0.5em #ff5f20a6;
  transition: box-shadow 0.1s ease-in-out;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #bd5b00c2;
}
.panelizq{
  margin-right: 10px;
}
.items{
  display: inline-flex;
}
.item{
  padding: 6px;
}
.DragItems {
  margin-top: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }
  
  ::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;  
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: #999;  
  }

  .graficocontainer {
    width: 580px; 
    margin: auto; 
  }
  .green {
    /* Filtro para cambiar el color del icono a verde */
    filter: hue-rotate(220deg);
}